@font-face {
  font-family: "Moniqa";
  src: url("../fonts/Moniqa-BoldItalicDisplay700.otf");
  font-weight: 700;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fffffd;
  font-family: "Gilroy";
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1220px) {
  .container {
    width: 968px;
  }
}

.btn {
  position: relative;
  display: inline-block;
  padding: 23px 72px 23px 38px;
  border-radius: 32px;
  line-height: 1;
  font-size: 15px;
  font-weight: 800;
  text-transform: uppercase;
}

@media (max-width: 1220px) {
  .btn {
    padding: 16px 60px 16px 28px;
  }
}

.btn::after {
  position: absolute;
  content: "";
  right: 35px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-image: url(../img/arrow-btn.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@media (max-width: 1220px) {
  .btn::after {
    right: 30px;
  }
}

.title {
  font-size: 40px;
  font-weight: 500;
  color: #6d86a4;
  text-transform: uppercase;
}

.main-wrapper {
  width: 100%;
  height: 95vh;
  min-height: 920px;
  background-image: url(../img/main/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 100%;
}

@media (max-width: 1450px) {
  .main-wrapper {
    min-height: 820px;
  }
}

@media (max-width: 1450px) {
  .main-wrapper {
    min-height: 720px;
    height: 100vh;
  }
}

.main-wrapper .main {
  padding-top: 50px;
}

.main-wrapper .main .main-logo {
  display: block;
  width: 178px;
  margin: 0 auto;
  margin-bottom: 11px;
}

.main-wrapper .main .main-logo img {
  display: block;
  width: 100%;
}

.main-wrapper .main .main-content {
  margin-bottom: 50px;
}

.main-wrapper .main .main-content .main-content__title {
  font-style: italic;
  font-weight: bold;
  font-size: 150px;
  color: #ffffff;
  text-align: center;
  line-height: 1;
  font-family: "Moniqa";
  line-height: 156px;
}

@media (max-width: 1450px) {
  .main-wrapper .main .main-content .main-content__title {
    font-size: 130px;
    line-height: 126px;
  }
}

.main-wrapper .main .main-content .main-content__text {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.04em;
  color: #ffffff;
  text-align: center;
}

@media (max-width: 1450px) {
  .main-wrapper .main .main-content .main-content__text {
    font-size: 16px;
  }
}

.main-wrapper .main .main-btn__wrapper {
  text-align: center;
}

.main-wrapper .main .main-btn__wrapper .main-btn {
  color: #ffffff;
  background: linear-gradient(46.19deg, #f09819 5.66%, #edde5d 94.35%), linear-gradient(135deg, #ec2f2f 0%, #dd2fec 100%), linear-gradient(198.01deg, #00bf57 0.44%, #005f91 108.3%);
  -webkit-box-shadow: 0px 3px 0px #e1991e, 0px 21px 54px -18px rgba(240, 176, 48, 0.26);
          box-shadow: 0px 3px 0px #e1991e, 0px 21px 54px -18px rgba(240, 176, 48, 0.26);
}

.header-wrapper .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}

.header-wrapper .header .header-logo {
  display: block;
  width: 168px;
}

@media (max-width: 1220px) {
  .header-wrapper .header .header-logo {
    width: 128px;
  }
}

.header-wrapper .header .header-logo img {
  display: block;
  width: 100%;
}

.header-wrapper .header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-wrapper .header .nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 57px;
}

.header-wrapper .header .nav .nav-list .nav-list__item {
  padding: 0 20px;
}

.header-wrapper .header .nav .nav-list .nav-list__item a {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}

@media (max-width: 1450px) {
  .header-wrapper .header .nav .nav-list .nav-list__item a {
    font-size: 16px;
  }
}

@media (max-width: 1220px) {
  .header-wrapper .header .nav .nav-list .nav-list__item a {
    font-size: 14px;
  }
}

.header-wrapper .header .nav .header-btn {
  color: #ffffff;
  border: 1px solid #ffffff;
  -webkit-box-shadow: 0px 21px 54px -18px rgba(240, 176, 48, 0.26);
          box-shadow: 0px 21px 54px -18px rgba(240, 176, 48, 0.26);
}

.florida-wrapper {
  position: relative;
  background-image: url(../img/florida/bg.svg);
  background-repeat: no-repeat;
  background-size: 53vw;
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-bottom: 40px;
}

.florida-wrapper .florida {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 160px 0;
}

.florida-wrapper .florida .florida-content {
  width: 660px;
}

.florida-wrapper .florida .florida-content .florida-content__title {
  margin-bottom: 42px;
}

.florida-wrapper .florida .florida-content .florida-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.florida-wrapper .florida .florida-content .florida-list .florida-list__item {
  width: 46%;
  margin-bottom: 20px;
}

.florida-wrapper .florida .florida-content .florida-list .florida-list__item p {
  font-size: 16px;
  line-height: 1.5;
  color: #525252;
}

.florida-wrapper .florida-img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 60%;
}

.florida-wrapper .florida-img img {
  display: block;
  width: 100%;
}

.florida-wrapper .florida-img .florida-img__title {
  position: absolute;
  right: -50px;
  top: 47%;
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.04em;
  color: #6d86a4;
}

.florida-wrapper .florida-img .florida-img__title::before {
  position: absolute;
  content: "";
  right: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 30px;
  height: 8px;
  background-image: url(../img/florida/arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.florida-wrapper .florida-date {
  position: absolute;
  font-family: "Forum", cursive;
  font-size: 150px;
  color: #6d86a4;
  top: 0;
  right: 20%;
  opacity: 0.1;
}

.molly-wrapper .molly {
  position: relative;
}

.molly-wrapper .molly .molly-title {
  text-align: center;
  margin-bottom: 64px;
}

.molly-wrapper .molly .molly-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.molly-wrapper .molly .molly-list .molly-list__item {
  position: relative;
  width: 25%;
  margin-right: 20px;
  border-radius: 14px;
  overflow: hidden;
}

.molly-wrapper .molly .molly-list .molly-list__item img {
  display: block;
  width: 100%;
}

.molly-wrapper .molly .molly-list .molly-list__item .molly-list__title {
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  color: #f2f2f2;
}

.molly-wrapper .molly .molly-list .molly-list__item:last-child {
  margin-right: 0;
}

.molly-wrapper .molly .molly-list .molly-list__item:nth-child(2) {
  z-index: 2;
}

.molly-wrapper .molly .molly-palm {
  position: absolute;
  left: 9%;
  top: -15%;
  width: 280px;
  height: 400px;
  background-image: url(../img/molly/before.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
/*# sourceMappingURL=main.css.map */