@charset "UTF-8";
@font-face {
  font-family: "Moniqa";
  src: url("../fonts/Moniqa-BoldItalicDisplay700.otf");
  font-weight: 700;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fffffd;
  font-family: "Gilroy";
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1220px) {
  .container {
    width: 968px;
  }
}

@media (max-width: 967px) {
  .container {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 90%;
  }
}

.btn {
  position: relative;
  display: inline-block;
  padding: 23px 72px 23px 38px;
  border-radius: 32px;
  line-height: 1;
  font-size: 15px;
  font-weight: 800;
  text-transform: uppercase;
}

@media (max-width: 1220px) {
  .btn {
    padding: 16px 60px 16px 28px;
  }
}

.btn::after {
  position: absolute;
  content: "";
  right: 35px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-image: url(../img/arrow-btn.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@media (max-width: 1220px) {
  .btn::after {
    right: 30px;
  }
}

.title {
  font-size: 40px;
  font-weight: 500;
  color: #6d86a4;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .title {
    font-size: 24px;
  }
}

.main-wrapper {
  width: 100%;
  height: 95vh;
  min-height: 920px;
  background-image: url(../img/main/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 100%;
}

@media (max-width: 1450px) {
  .main-wrapper {
    min-height: 820px;
  }
}

@media (max-width: 1450px) {
  .main-wrapper {
    min-height: 720px;
    height: 100vh;
  }
}

@media (max-width: 767px) {
  .main-wrapper {
    min-height: 660px;
  }
}

.main-wrapper .main {
  padding-top: 200px;
}

@media (max-width: 967px) {
  .main-wrapper .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 0;
    height: calc(100% - 0px);
  }
}

.main-wrapper .main .main-logo {
  display: block;
  width: 178px;
  margin: 0 auto;
  margin-bottom: 11px;
}

@media (max-width: 967px) {
  .main-wrapper .main .main-logo {
    display: none;
  }
}

.main-wrapper .main .main-logo img {
  display: block;
  width: 100%;
}

.main-wrapper .main .main-content {
  margin-bottom: 50px;
}

.main-wrapper .main .main-content .main-content__title {
  font-style: italic;
  font-weight: bold;
  font-size: 150px;
  color: #ffffff;
  text-align: center;
  line-height: 1;
  font-family: "Moniqa";
  line-height: 156px;
}

@media (max-width: 1450px) {
  .main-wrapper .main .main-content .main-content__title {
    font-size: 130px;
    line-height: 126px;
  }
}

@media (max-width: 767px) {
  .main-wrapper .main .main-content .main-content__title {
    font-size: 90px;
    line-height: 100px;
  }
}

.main-wrapper .main .main-content .main-content__text {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.04em;
  color: #ffffff;
  text-align: center;
}

@media (max-width: 1450px) {
  .main-wrapper .main .main-content .main-content__text {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .main-wrapper .main .main-content .main-content__text {
    font-size: 13px;
  }
}

.main-wrapper .main .main-btn__wrapper {
  text-align: center;
}

.main-wrapper .main .main-btn__wrapper .main-btn {
  color: #ffffff;
  background: linear-gradient(46.19deg, #f09819 5.66%, #edde5d 94.35%), linear-gradient(135deg, #ec2f2f 0%, #dd2fec 100%), linear-gradient(198.01deg, #00bf57 0.44%, #005f91 108.3%);
  -webkit-box-shadow: 0px 3px 0px #e1991e, 0px 21px 54px -18px rgba(240, 176, 48, 0.26);
          box-shadow: 0px 3px 0px #e1991e, 0px 21px 54px -18px rgba(240, 176, 48, 0.26);
}

.header-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 20px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 99;
}

.header-wrapper .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-wrapper .header .header-logo {
  display: block;
  width: 168px;
}

@media (max-width: 1220px) {
  .header-wrapper .header .header-logo {
    width: 128px;
  }
}

@media (max-width: 967px) {
  .header-wrapper .header .header-logo {
    margin: 0 auto;
    width: 178px;
  }
}

.header-wrapper .header .header-logo img {
  display: block;
  width: 100%;
}

.header-wrapper .header .header-logo .logo-white {
  display: block;
}

.header-wrapper .header .header-logo .logo-dark {
  display: none;
}

.header-wrapper .header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 967px) {
  .header-wrapper .header .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    z-index: 999;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
}

.header-wrapper .header .nav .nav-logo {
  display: none;
}

.header-wrapper .header .nav .nav-logo img {
  display: block;
  width: 100%;
}

@media (max-width: 967px) {
  .header-wrapper .header .nav .nav-logo {
    display: block;
    width: 200px;
  }
}

@media (max-width: 767px) {
  .header-wrapper .header .nav .nav-logo {
    width: 140px;
  }
}

.header-wrapper .header .nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 57px;
}

@media (max-width: 967px) {
  .header-wrapper .header .nav .nav-list {
    margin-right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header-wrapper .header .nav .nav-list .nav-list__item {
  padding: 0 20px;
}

@media (max-width: 967px) {
  .header-wrapper .header .nav .nav-list .nav-list__item {
    margin-bottom: 20px;
  }
}

.header-wrapper .header .nav .nav-list .nav-list__item a {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (max-width: 1450px) {
  .header-wrapper .header .nav .nav-list .nav-list__item a {
    font-size: 16px;
  }
}

@media (max-width: 1220px) {
  .header-wrapper .header .nav .nav-list .nav-list__item a {
    font-size: 14px;
  }
}

@media (max-width: 967px) {
  .header-wrapper .header .nav .nav-list .nav-list__item a {
    color: #525252;
    font-size: 22px;
  }
}

.header-wrapper .header .nav .header-btn {
  color: #ffffff;
  border: 1px solid #ffffff;
  -webkit-box-shadow: 0px 21px 54px -18px rgba(240, 176, 48, 0.26);
          box-shadow: 0px 21px 54px -18px rgba(240, 176, 48, 0.26);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (max-width: 967px) {
  .header-wrapper .header .nav .header-btn {
    color: #525252;
    border: 1px solid #525252;
  }
}

@media (max-width: 967px) {
  .header-wrapper .header .nav .header-btn::after {
    background-image: url(../img/arrow-btn-black.svg);
  }
}

.header-wrapper .header .nav .close-menu {
  display: none;
}

@media (max-width: 967px) {
  .header-wrapper .header .nav .close-menu {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 22px;
    color: #525252;
    font-weight: 400;
    padding: 10px;
    line-height: 1;
  }
}

.header-wrapper .header .nav.active {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.header-wrapper .header .menu-btn {
  display: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (max-width: 967px) {
  .header-wrapper .header .menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    right: 30px;
    top: 50%;
    width: 44px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .header-wrapper .header .menu-btn span {
    display: block;
    min-width: 14px;
    min-height: 14px;
    border: 1.5px solid #FFFFFF;
    border-radius: 50%;
    margin: 2px;
  }
}

.header-wrapper.sticky {
  background-color: #ffffff;
  z-index: 99;
  padding: 10px;
}

.header-wrapper.sticky .header .header-logo .logo-white {
  display: none;
}

.header-wrapper.sticky .header .header-logo .logo-dark {
  display: block;
}

.header-wrapper.sticky .header .nav .nav-list a {
  color: #525252;
}

.header-wrapper.sticky .header .nav .header-btn {
  color: #525252;
  border: 1px solid #525252;
}

.header-wrapper.sticky .header .nav .header-btn::after {
  background-image: url(../img/arrow-btn-black.svg);
}

.header-wrapper.sticky .header .menu-btn {
  display: none;
}

@media (max-width: 967px) {
  .header-wrapper.sticky .header .menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-wrapper.sticky .header .menu-btn span {
    border: 1.5px solid #525252;
  }
}

.florida-wrapper {
  position: relative;
  background-image: url(../img/florida/bg.svg);
  background-repeat: no-repeat;
  background-size: 53vw;
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-bottom: 40px;
  overflow-x: hidden;
}

@media (max-width: 767px) {
  .florida-wrapper {
    padding: 120px 0 0 0;
    background-position: 0 60%;
    margin-bottom: 100px;
  }
}

.florida-wrapper .florida {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 160px 0;
}

@media (max-width: 767px) {
  .florida-wrapper .florida {
    padding: 70px 0 0 0;
  }
}

.florida-wrapper .florida .florida-content {
  width: 660px;
}

.florida-wrapper .florida .florida-content .florida-content__title {
  margin-bottom: 42px;
}

@media (max-width: 767px) {
  .florida-wrapper .florida .florida-content .florida-content__title {
    margin-bottom: 30px;
  }
}

.florida-wrapper .florida .florida-content .florida-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.florida-wrapper .florida .florida-content .florida-list .florida-list__item {
  width: 46%;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .florida-wrapper .florida .florida-content .florida-list .florida-list__item {
    width: 100%;
  }
}

.florida-wrapper .florida .florida-content .florida-list .florida-list__item p {
  font-size: 16px;
  line-height: 1.5;
  color: #525252;
}

.florida-wrapper .florida-img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 60%;
  width: 31.56vw;
}

.florida-wrapper .florida-img img {
  display: block;
  width: 100%;
}

.florida-wrapper .florida-img .florida-img__title {
  position: absolute;
  right: -50px;
  top: 47%;
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.04em;
  color: #6d86a4;
}

@media (max-width: 767px) {
  .florida-wrapper .florida-img .florida-img__title {
    right: 64%;
    top: 46.5%;
    font-size: 10px;
  }
}

.florida-wrapper .florida-img .florida-img__title::before {
  position: absolute;
  content: "";
  right: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 30px;
  height: 8px;
  background-image: url(../img/florida/arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 767px) {
  .florida-wrapper .florida-img .florida-img__title::before {
    right: auto;
    left: 100%;
    top: 33.333333%;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@media (max-width: 767px) {
  .florida-wrapper .florida-img {
    position: static;
    top: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    right: 0;
    width: 100%;
  }
}

.florida-wrapper .florida-date {
  position: absolute;
  font-family: "Forum", cursive;
  font-size: 150px;
  color: #6d86a4;
  top: 0;
  right: 20%;
  opacity: 0.1;
}

@media (max-width: 767px) {
  .florida-wrapper .florida-date {
    right: -10%;
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
}

.molly-wrapper {
  margin-bottom: 100px;
}

@media (max-width: 767px) {
  .molly-wrapper {
    margin-bottom: 40px;
  }
}

.molly-wrapper .molly {
  position: relative;
}

.molly-wrapper .molly .molly-title {
  text-align: center;
  margin-bottom: 64px;
}

@media (max-width: 767px) {
  .molly-wrapper .molly .molly-title {
    margin-bottom: 30px;
  }
}

.molly-wrapper .molly .molly-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 967px) {
  .molly-wrapper .molly .molly-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.molly-wrapper .molly .molly-list .molly-list__item {
  position: relative;
  width: 25%;
  margin-right: 20px;
  border-radius: 14px;
  overflow: hidden;
}

@media (max-width: 967px) {
  .molly-wrapper .molly .molly-list .molly-list__item {
    width: 48%;
    margin-right: 0;
    margin-bottom: 4%;
  }
}

@media (max-width: 767px) {
  .molly-wrapper .molly .molly-list .molly-list__item {
    width: 100%;
    margin-bottom: 10px;
  }
}

.molly-wrapper .molly .molly-list .molly-list__item img {
  display: block;
  width: 100%;
}

.molly-wrapper .molly .molly-list .molly-list__item .molly-list__title {
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  color: #f2f2f2;
}

.molly-wrapper .molly .molly-list .molly-list__item:last-child {
  margin-right: 0;
}

.molly-wrapper .molly .molly-list .molly-list__item:nth-child(1) {
  z-index: 0;
}

@media (max-width: 967px) {
  .molly-wrapper .molly .molly-list .molly-list__item:nth-child(1) {
    z-index: 2;
  }
}

.molly-wrapper .molly .molly-list .molly-list__item:nth-child(2) {
  z-index: 2;
}

.molly-wrapper .molly .molly-palm {
  position: absolute;
  left: 9%;
  top: -15%;
  width: 280px;
  height: 400px;
  background-image: url(../img/molly/before.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media (max-width: 1220px) {
  .molly-wrapper .molly .molly-palm {
    width: 220px;
    height: 360px;
  }
}

@media (max-width: 967px) {
  .molly-wrapper .molly .molly-palm {
    left: -10%;
    top: -15%;
  }
}

@media (max-width: 767px) {
  .molly-wrapper .molly .molly-palm {
    top: -100px;
    left: -20%;
    width: 160px;
    height: 260px;
  }
}

.apartment-wrapper {
  padding: 120px 0;
  background-image: url(../img/apartment/bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media (max-width: 767px) {
  .apartment-wrapper {
    background-size: cover;
  }
}

.apartment-wrapper .apartment {
  position: relative;
}

.apartment-wrapper .apartment .apartment-title {
  position: absolute;
  left: 0;
  top: 10px;
}

@media (max-width: 767px) {
  .apartment-wrapper .apartment .apartment-title {
    position: static;
    margin-bottom: 40px;
  }
}

.apartment-wrapper .item {
  position: relative;
  width: 575px;
  overflow: hidden;
  border-radius: 17px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 40px;
}

@media (max-width: 1220px) {
  .apartment-wrapper .item {
    width: 100%;
  }
}

.apartment-wrapper .item .item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #50a1de;
  padding: 18px 20px;
}

@media (max-width: 767px) {
  .apartment-wrapper .item .item-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.apartment-wrapper .item .item-header .item-header__title {
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
  color: #f2f2f2;
}

@media (max-width: 767px) {
  .apartment-wrapper .item .item-header .item-header__reviews {
    margin-bottom: 10px;
  }
}

.apartment-wrapper .item .item-header .item-header__reviews .reviews-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
}

.apartment-wrapper .item .item-header .item-header__reviews .reviews-list .reviews-list__item {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(../img/apartment/star.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-right: 8px;
}

.apartment-wrapper .item .item-header .item-header__reviews .reviews-list .reviews-list__item:last-child {
  margin-right: 0;
}

.apartment-wrapper .item .item-header .item-header__reviews .reviews-total {
  text-align: center;
  color: #f2f2f2;
  font-weight: bold;
  font-size: 10px;
}

.apartment-wrapper .item .item-body {
  padding: 10px 20px;
  background: #f5f9fc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .apartment-wrapper .item .item-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.apartment-wrapper .item .item-body .item-body__img {
  width: 45%;
}

@media (max-width: 767px) {
  .apartment-wrapper .item .item-body .item-body__img {
    width: 100%;
    margin-bottom: 10px;
  }
}

.apartment-wrapper .item .item-body .item-body__img img {
  display: block;
  width: 100%;
}

.apartment-wrapper .item .item-body .item-body__content {
  width: 48%;
}

@media (max-width: 767px) {
  .apartment-wrapper .item .item-body .item-body__content {
    width: 100%;
  }
}

.apartment-wrapper .item .item-body .item-body__content .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 6px 0 18px 0;
}

@media (max-width: 767px) {
  .apartment-wrapper .item .item-body .item-body__content .header-content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.apartment-wrapper .item .item-body .item-body__content .header-content .header-content__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

.apartment-wrapper .item .item-body .item-body__content .header-content .header-content__item .header-content__icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.apartment-wrapper .item .item-body .item-body__content .header-content .header-content__item .header-content__icon use {
  width: 20px;
  height: 20px;
  display: block;
}

.apartment-wrapper .item .item-body .item-body__content .header-content .header-content__item p {
  font-weight: bold;
  font-size: 16px;
  color: #525252;
}

.apartment-wrapper .item .item-body .item-body__content .header-content .header-content__item:last-child {
  margin-right: 0;
}

.apartment-wrapper .item .item-body .item-body__content .item-body__deskriptions {
  font-size: 16px;
  line-height: 1.5;
  color: #525252;
  margin-bottom: 18px;
}

.apartment-wrapper .item .item-body .item-body__content .item-list {
  width: 100%;
  padding: 13px 10px;
  background: #ffffff;
  border-radius: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.apartment-wrapper .item .item-body .item-body__content .item-list .item-list__item {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.apartment-wrapper .item .item-body .item-body__content .item-list .item-list__item .header-content__icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.apartment-wrapper .item .item-body .item-body__content .item-list .item-list__item .header-content__icon use {
  width: 20px;
  height: 20px;
  display: block;
}

.apartment-wrapper .item .item-body .item-body__content .item-list .item-list__item p {
  font-size: 10px;
  white-space: nowrap;
}

.apartment-wrapper .item .item-body .item-body__content .item-list .item-list__item:nth-child(4), .apartment-wrapper .item .item-body .item-body__content .item-list .item-list__item:nth-child(3) {
  margin-bottom: 0;
}

.apartment-wrapper .item .item-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffff;
  padding: 16px 20px;
}

@media (max-width: 767px) {
  .apartment-wrapper .item .item-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 767px) {
  .apartment-wrapper .item .item-bottom .item-bottom__price {
    margin-bottom: 10px;
  }
}

.apartment-wrapper .item .item-bottom .item-bottom__price .item-bottom__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.apartment-wrapper .item .item-bottom .item-bottom__price .item-bottom__line .item-bottom__line-from {
  display: block;
  font-size: 10px;
  color: #f2f2f2;
  font-weight: bold;
  padding: 4px 6px;
  background: #50a1de;
  border-radius: 4px;
  margin-right: 4px;
}

.apartment-wrapper .item .item-bottom .item-bottom__price .item-bottom__line .item-bottom__line-price {
  color: #50a1de;
  font-size: 40px;
  font-weight: 500;
}

.apartment-wrapper .item .item-bottom .item-bottom__price .item-bottom__line .item-bottom__line-price span {
  font-size: 12px;
  color: #525252;
}

.apartment-wrapper .item .item-bottom .item-bottom__price .item-bottom__text {
  font-size: 10px;
  color: #525252;
  padding-left: 40px;
}

.apartment-wrapper .item .item-bottom .item-btn {
  color: #ffffff;
  line-height: 1.6;
  background: linear-gradient(46.19deg, #f09819 5.66%, #edde5d 94.35%), linear-gradient(135deg, #ec2f2f 0%, #dd2fec 100%), linear-gradient(198.01deg, #00bf57 0.44%, #005f91 108.3%);
}

.apartment-wrapper .swiper-pagination-progressbar {
  position: static;
}

.apartment-wrapper .swiper {
  padding-top: 100px;
}

@media (max-width: 767px) {
  .apartment-wrapper .swiper {
    padding-top: 0;
  }
}

.apartment-wrapper .swiper-horizontal > .swiper-pagination-progressbar,
.apartment-wrapper .swiper-pagination-progressbar.swiper-pagination-horizontal,
.apartment-wrapper .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
.apartment-wrapper .swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  height: 6px;
}

.apartment-wrapper .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #6d86a4;
}

.apartment-wrapper .swiper-pagination-progressbar {
  background: #f7f7f7;
}

.apartment-wrapper .swiper-button-next:after,
.apartment-wrapper .swiper-button-prev:after {
  font-size: 0;
}

.apartment-wrapper .swiper-button-next,
.apartment-wrapper .swiper-button-prev {
  top: 0;
  margin-top: 0;
  height: auto;
  width: auto;
}

@media (max-width: 767px) {
  .apartment-wrapper .swiper-button-next,
  .apartment-wrapper .swiper-button-prev {
    top: 35%;
  }
}

.apartment-wrapper .swiper-button-prev {
  right: 60px;
  left: auto;
}

@media (max-width: 767px) {
  .apartment-wrapper .swiper-button-prev {
    right: auto;
    left: 0;
  }
}

.apartment-wrapper .swiper-button-next {
  right: 0;
}

@media (max-width: 767px) {
  .apartment-wrapper .swiper-button-next {
    right: 0;
    left: auto;
  }
}

.gallery {
  position: relative;
  margin-bottom: 40px;
}

.gallery .gallery-title {
  text-align: right;
  margin-bottom: 65px;
}

@media (max-width: 1220px) {
  .gallery .gallery-title {
    text-align: center;
    margin-bottom: 24px;
  }
}

.gallery .gallery-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 2;
}

@media (max-width: 1220px) {
  .gallery .gallery-list {
    display: none;
  }
}

.gallery .gallery-list .gallery-list__item {
  width: 290px;
  margin: 4.5px;
  border-radius: 10px;
  overflow: hidden;
}

@media (max-width: 1220px) {
  .gallery .gallery-list .gallery-list__item {
    margin: 0;
    width: 100%;
  }
}

.gallery .gallery-last {
  position: absolute;
  bottom: 4.5px;
  right: 6.2px;
  width: 290px;
  height: 342px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #50a1de;
  -webkit-box-shadow: 0px 37px 75px -29px #2a78b4;
          box-shadow: 0px 37px 75px -29px #2a78b4;
  background-image: url(../img/gallery/bg-last-item.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 32px 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 5;
}

@media (max-width: 1220px) {
  .gallery .gallery-last {
    position: relative;
    margin: 0 auto;
    right: 0;
    top: 0;
  }
}

.gallery .gallery-last .gallery-last__title {
  width: 100%;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
  text-transform: uppercase;
  color: #f2f2f2;
}

.gallery .gallery-last .gallery-last__text {
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
}

.gallery .gallery-last .gallery-last__btn {
  color: #ffffff;
  background: linear-gradient(46.19deg, #f09819 5.66%, #edde5d 94.35%), linear-gradient(135deg, #ec2f2f 0%, #dd2fec 100%), linear-gradient(198.01deg, #00bf57 0.44%, #005f91 108.3%);
  -webkit-box-shadow: 0px 2.38723px 0px #e1991e;
          box-shadow: 0px 2.38723px 0px #e1991e;
}

@media (max-width: 1220px) {
  .gallery .gallery-last {
    width: 100%;
  }
}

.gallery .gallery-last::before {
  position: absolute;
  content: "";
  top: 60px;
  right: 0;
  width: 138px;
  height: 145px;
  background-image: url(../img/gallery/cloud.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 50%;
  z-index: 0;
}

.gallery .gallery-last:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.gallery .gallery-palm {
  position: absolute;
  left: 50%;
  top: -12%;
  width: 260px;
  height: 260px;
  background-image: url(../img/gallery/palm.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 1;
}

@media (max-width: 1220px) {
  .gallery .gallery-palm {
    display: none;
  }
}

.overlay-gallerySlider {
  display: none;
}

@media (max-width: 1220px) {
  .overlay-gallerySlider {
    display: block;
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .overlay-gallerySlider {
    margin-bottom: 10px;
  }
}

.overlay-gallerySlider .swiper-button-next:after,
.overlay-gallerySlider .swiper-button-prev:after {
  font-size: 0;
}

.overlay-gallerySlider .swiper-button-next,
.overlay-gallerySlider .swiper-button-prev {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-top: 0;
  height: auto;
  width: auto;
}

@media (max-width: 767px) {
  .overlay-gallerySlider .swiper-button-next img,
  .overlay-gallerySlider .swiper-button-prev img {
    width: 40px;
    height: 40px;
  }
}

.overlay-gallerySlider .swiper-button-prev {
  left: 0;
  right: auto;
}

.overlay-gallerySlider .swiper-button-next {
  right: 0;
  left: auto;
}

.gallery-list__img {
  display: block;
  width: 100%;
  height: 342px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px;
}

@media (max-width: 1220px) {
  .gallery-list__img {
    height: auto;
  }
}

.questions-wrapper {
  width: 100%;
  background-image: url(../img/questions/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
}

@media (max-width: 767px) {
  .questions-wrapper {
    overflow-x: hidden;
  }
}

.questions-wrapper .questions__container {
  position: relative;
  background: #50a1de;
  border-radius: 16px;
  padding: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url(../img/questions/questions-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 0;
}

.questions-wrapper .questions__container .questions {
  position: relative;
  padding: 60px;
  border: 1px dashed #ffffff;
  border-radius: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 767px) {
  .questions-wrapper .questions__container .questions {
    padding: 60px 20px 20px 20px;
  }
}

.questions-wrapper .questions__container .questions .questions-title {
  position: relative;
  font-weight: 800;
  font-size: 40px;
  line-height: 120%;
  text-transform: uppercase;
  color: #f2f2f2;
  margin-bottom: 21px;
  z-index: 2;
}

@media (max-width: 767px) {
  .questions-wrapper .questions__container .questions .questions-title {
    font-size: 24px;
  }
}

.questions-wrapper .questions__container .questions .questions-text {
  position: relative;
  font-size: 20px;
  line-height: 1.2;
  color: #f2f2f2;
  margin-bottom: 36px;
  z-index: 2;
}

@media (max-width: 767px) {
  .questions-wrapper .questions__container .questions .questions-text {
    font-size: 16px;
    width: 84%;
  }
  .questions-wrapper .questions__container .questions .questions-text br {
    display: none;
  }
}

.questions-wrapper .questions__container .questions .questions-form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 5;
}

@media (max-width: 967px) {
  .questions-wrapper .questions__container .questions .questions-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.questions-wrapper .questions__container .questions .questions-form .questions-form__input {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 32%;
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 26px 20px;
  color: #6d86a4;
  font-family: "Gilroy";
  outline: none;
}

@media (max-width: 967px) {
  .questions-wrapper .questions__container .questions .questions-form .questions-form__input {
    width: 100%;
    margin-bottom: 20px;
  }
}

.questions-wrapper .questions__container .questions .questions-form .questions-form__btn {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 32%;
  padding: 22px 0;
  text-align: center;
  background: linear-gradient(46.19deg, #f09819 5.66%, #edde5d 94.35%);
  -webkit-box-shadow: 0px 2.38723px 0px #e1991e;
          box-shadow: 0px 2.38723px 0px #e1991e;
  border-radius: 37px;
  outline: none;
  border: 0 solid transparent;
  font-weight: 800;
  font-family: "Gilroy";
  font-size: 20px;
  text-transform: uppercase;
  color: #f2f2f2;
  cursor: pointer;
}

@media (max-width: 967px) {
  .questions-wrapper .questions__container .questions .questions-form .questions-form__btn {
    width: 100%;
  }
}

@media (max-width: 967px) {
  .questions-wrapper .questions__container .questions .questions-form .questions-form__btn {
    font-size: 16px;
  }
}

.questions-wrapper .questions__container .questions-palm {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 380px;
  height: 525px;
  background-image: url(../img/questions/palm.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 100%;
}

@media (max-width: 767px) {
  .questions-wrapper .questions__container .questions-palm {
    width: 280px;
    height: 390px;
    bottom: 240px;
    right: -24%;
  }
}

.questions-wrapper .questions__container::before {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  width: 707px;
  height: 221px;
  background-image: url(../img/questions/сloud.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@media (max-width: 967px) {
  .questions-wrapper .questions__container::before {
    width: 400px;
    height: 80px;
  }
}

.questions-wrapper .questions-gradient {
  padding: 155px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(7%, rgba(240, 240, 240, 0)), color-stop(93%, rgba(248, 248, 248, 0)), to(white));
  background: linear-gradient(180deg, white 0%, rgba(240, 240, 240, 0) 7%, rgba(248, 248, 248, 0) 93%, white 100%);
}

@media (max-width: 767px) {
  .questions-wrapper .questions-gradient {
    padding: 140px 0 40px 0;
  }
}

.testimonials-wrapper {
  width: 100%;
  background-image: url(../img/testimonials/bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 140px 0;
}

@media (max-width: 967px) {
  .testimonials-wrapper {
    background-size: cover;
    background-position: center;
    padding: 140px 0 200px 0;
  }
}

.testimonials-wrapper .testimonials {
  width: 915px;
  margin: 0 auto;
}

@media (max-width: 967px) {
  .testimonials-wrapper .testimonials {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .testimonials-wrapper .testimonials {
    width: 90%;
  }
}

.testimonials-wrapper .testimonials .testimonials__title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

@media (max-width: 967px) {
  .testimonials-wrapper .testimonials .testimonials__title-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.testimonials-wrapper .testimonials .testimonials__title-wrapper .testimonials__title {
  color: #ffffff;
}

@media (max-width: 967px) {
  .testimonials-wrapper .testimonials .testimonials__title-wrapper .testimonials__title {
    margin-bottom: 20px;
  }
}

.testimonials-wrapper .testimonials .testimonials__title-wrapper .testimonials_title-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials-wrapper .testimonials .testimonials__title-wrapper .testimonials_title-rating .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-radius: 9px;
  padding: 11px 16px;
  background-color: rgba(21, 21, 21, 0.1);
  margin-right: 10px;
}

.testimonials-wrapper .testimonials .testimonials__title-wrapper .testimonials_title-rating .rating .rating-block {
  margin-right: 8px;
}

.testimonials-wrapper .testimonials .testimonials__title-wrapper .testimonials_title-rating .rating .rating-block .rating-block__title {
  font-size: 21px;
  font-weight: 700;
  color: #ffffff;
}

@media (max-width: 767px) {
  .testimonials-wrapper .testimonials .testimonials__title-wrapper .testimonials_title-rating .rating .rating-block .rating-block__title {
    font-size: 16px;
  }
}

.testimonials-wrapper .testimonials .testimonials__title-wrapper .testimonials_title-rating .rating .rating-block .rating-block__text {
  font-size: 21px;
  font-weight: 300;
  color: #ffffff;
}

@media (max-width: 767px) {
  .testimonials-wrapper .testimonials .testimonials__title-wrapper .testimonials_title-rating .rating .rating-block .rating-block__text {
    font-size: 16px;
  }
}

.testimonials-wrapper .testimonials .testimonials__title-wrapper .testimonials_title-rating .rating .rating-number {
  font-weight: 999;
  font-size: 35px;
  line-height: 1;
  color: #ffffff;
}

@media (max-width: 767px) {
  .testimonials-wrapper .testimonials .testimonials__title-wrapper .testimonials_title-rating .rating .rating-number {
    font-size: 28px;
  }
}

.testimonials-wrapper .testimonials .testimonials__title-wrapper .testimonials_title-rating .rating:last-child {
  margin-right: 0;
}

.testimonials-wrapper .testimonials .testimonials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 967px) {
  .testimonials-wrapper .testimonials .testimonials-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.testimonials-wrapper .testimonials .testimonials-list .column {
  width: 293px;
}

@media (max-width: 967px) {
  .testimonials-wrapper .testimonials .testimonials-list .column {
    width: 100%;
  }
}

.testimonials-wrapper .testimonials .testimonials-list .column .item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background: #ffffff;
  border-radius: 13px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 24px 13px;
  margin-bottom: 15px;
}

.testimonials-wrapper .testimonials .testimonials-list .column .item .item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 11px;
}

.testimonials-wrapper .testimonials .testimonials-list .column .item .item-header .item-header__name .item-header__name__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
  color: #525252;
}

.testimonials-wrapper .testimonials .testimonials-list .column .item .item-header .item-header__name .item-header__name__text {
  font-size: 12px;
  line-height: 1.4;
  color: #6d86a4;
}

.testimonials-wrapper .testimonials .testimonials-list .column .item .item-header .item-header__number {
  font-weight: bold;
  font-size: 30px;
  line-height: 1.5;
  color: #6d86a4;
  padding: 4px 11px;
  background: #f1f1f1;
  border-radius: 16px;
}

.testimonials-wrapper .testimonials .testimonials-list .column .item .item-title {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.testimonials-wrapper .testimonials .testimonials-list .column .item .item-text {
  font-size: 16px;
  line-height: 1.6;
  color: #6d86a4;
}

.testimonials-wrapper .testimonials .testimonials-list .column .item-293 {
  height: 293px;
}

@media (max-width: 967px) {
  .testimonials-wrapper .testimonials .testimonials-list .column .item-293 {
    height: auto;
  }
}

.testimonials-wrapper .testimonials .testimonials-list .column .item-359 {
  height: 359px;
}

@media (max-width: 967px) {
  .testimonials-wrapper .testimonials .testimonials-list .column .item-359 {
    height: auto;
  }
}

.testimonials-wrapper .testimonials .testimonials-list .column .item-227 {
  height: 227px;
}

@media (max-width: 967px) {
  .testimonials-wrapper .testimonials .testimonials-list .column .item-227 {
    height: auto;
  }
}

.testimonials-wrapper .testimonials .testimonials-list .column .item-215 {
  height: 215px;
}

@media (max-width: 967px) {
  .testimonials-wrapper .testimonials .testimonials-list .column .item-215 {
    height: auto;
  }
}

.testimonials-wrapper .testimonials .testimonials-list .column .item-371 {
  height: 371px;
}

@media (max-width: 967px) {
  .testimonials-wrapper .testimonials .testimonials-list .column .item-371 {
    height: auto;
  }
}

.map-wrapper {
  padding: 50px 0;
}

@media (max-width: 767px) {
  .map-wrapper {
    padding: 0;
  }
}

.map-wrapper .map-overlay {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  background-image: url(../img/map/map.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 58px 78px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 46px 74px -44px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 46px 74px -44px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
}

@media (max-width: 1220px) {
  .map-wrapper .map-overlay {
    width: 968px;
  }
}

@media (max-width: 967px) {
  .map-wrapper .map-overlay {
    width: 720px;
    padding: 58px 18px;
  }
}

@media (max-width: 767px) {
  .map-wrapper .map-overlay {
    width: 100%;
    padding: 455px 30px 18px 30px;
    background-image: url(../img/map/bg-mobile.png);
  }
}

.map-wrapper .map-overlay .map-form {
  position: relative;
  background: #ffffff;
  border-radius: 15px;
  padding: 20px 40px;
  width: 329px;
}

.map-wrapper .map-overlay .map-form .map-form__logo {
  width: 98px;
  margin: 0 auto;
  margin-bottom: 14px;
}

.map-wrapper .map-overlay .map-form .map-form__logo img {
  display: block;
  width: 100%;
}

.map-wrapper .map-overlay .map-form .form {
  width: 100%;
  margin-bottom: 20px;
}

.map-wrapper .map-overlay .map-form .form .form-input {
  width: 100%;
  border: 1px solid #6d86a4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  padding: 20px;
  outline: none;
  color: #6d86a4;
  margin-bottom: 10px;
}

.map-wrapper .map-overlay .map-form .form .form-input::-webkit-input-placeholder {
  color: #6d86a4;
}

.map-wrapper .map-overlay .map-form .form .form-input:-ms-input-placeholder {
  color: #6d86a4;
}

.map-wrapper .map-overlay .map-form .form .form-input::-ms-input-placeholder {
  color: #6d86a4;
}

.map-wrapper .map-overlay .map-form .form .form-input::placeholder {
  color: #6d86a4;
}

.map-wrapper .map-overlay .map-form .form .form-btn {
  display: block;
  width: 100%;
  outline: none;
  border: 0 solid transparent;
  background: linear-gradient(46.19deg, #f09819 5.66%, #edde5d 94.35%);
  -webkit-box-shadow: 0px 2.38723px 0px #e1991e;
          box-shadow: 0px 2.38723px 0px #e1991e;
  border-radius: 5px;
  padding: 18px 0;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  color: #f2f2f2;
}

.map-wrapper .map-overlay .map-form .map-form__text-bottom {
  font-size: 14px;
  line-height: 1.5;
  color: #6d86a4;
}

.map-wrapper .map-overlay .map-form::before {
  position: absolute;
  content: "";
  width: 110px;
  height: 110px;
  right: -30px;
  top: -30px;
  background-image: url(../img/map/form-after.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@media (max-width: 767px) {
  .map-wrapper .map-overlay .map-form::before {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */